@font-face {
   font-family: 'Hello Valentina';
   font-display: swap;
   src: url('file:///C:/Users/Milarepa/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-23_144442/fonts/Hello%20Valentina/font.ttf');
}
